[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
djangorestframework-simplejwt = "*"
ipdb = "*"
requests = "*"
clearbit = "*"
django-filter = "*"
flake8 = "*"

[requires]
python_version = "3.8"
